{% extends "base.html" %}

{% block title %}Heat Map of {{ flight_name }}{% endblock %}

{% block content %}
<div>
    <h3>Heat map of video: {{ flight_name }}</h3>
    <div id="map" style="height: 400px; width: 100%;"></div>

    <script>
    function initMap() {
        var centerCoords = {lat: -34.4278, lng: 150.8931}; // Default center
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: centerCoords
        });

        var heatmapData = [
            {% for data_point in map_data %}
            new google.maps.LatLng({{ data_point.latitude }}, {{ data_point.longitude }}),
            {% endfor %}
        ];

        var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapData,
            map: map
        });
    }

    // Asynchronously load the Google Maps script, allowing for the callback to initMap
    var script = document.createElement('script');
    script.src = 'https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=visualization&callback=initMap';
    script.async = true;
    script.defer = true;
    document.head.appendChild(script);
    </script>
</div>
{% endblock %}